table.tabla1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse: separate;
    margin: auto;
}


.tabla1 th{
    padding: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px #568f23;
    border: 1px solid #9ed929;
    border-bottom: 3x solid #9ed929;
    background-color: #9ed929;
    background: -moz-linear-gradient(top, #65b6cf, #2c2c2c);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#65b6cf), to(#2c2c2c));
    border-top-left-radius:5px;
    border-radius: 5px 5px 5px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabla1 thead th:empty{
    background: transparent;
    border: none;
}

tabla1 tfoot td{
    color: #9cd009;
    font-size: 32px;
    text-align: center;
    padding: 10px 0px;
    text-shadow: 1px 1px 1px #444;
}

.tabla1 tbody span.check::before{
    content : url(imagenes/check.jpg);
}