header {
    animation-duration: 1s;
    animation-name: slidein;
    font-size: 80px;
    font-family: Arial, Helvetica, Sans-serif
    
}
h1 {
    font-size: 50px;
    
}
body { font-family: "Arial" }

p {
    text-align: justify;
    
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }

}